<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/homefeed.css" rel="stylesheet">

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "9e9bce45-5a6a-4c34-9a6c-22bfe083ecb8", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

</head>

<body>


    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#"><strong>Home</strong></a>
                    </li>
                    <li>
                        <a id="profile" href="#"><strong>Profile</strong></a>
                    </li>
                    <li>
                        <a id="profile" href="/import"><strong>Import events</strong></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">

            	<div id="search">
                <form class="" action="/item" method="get">
          					<input type="text" name="search" placeholder="Search for opportunities...">

                    <button type="submit" class="btn btn-secondary">Search</button>
                </form>
				</div>

            </div>
        </div>
        <!-- /.row -->

    <!-- OPPORTUNITIES HERE -->
        <div id="opportunities">
            <div class="col-md-7">
        <!-- Project One -->

            <div class="internships">
            	<hr>

                <% for(var i=0; i<items.length; i++) { %>

                <div class="row">
                    <div class="col-md-7">
                    	<h3><%= items[i].title %></h3>

                        <h4><%= items[i].company %>, <%= items[i].location %></h4>
                        <p class="hashtag" id="<%= items[i].category %>">#<%= items[i].category %></p>
                        <a class="btn btn-primary" href="<%= items[i].link %>">Go to <%= items[i].category %> <span class="glyphicon glyphicon-chevron-right"></span></a>

                    </div>
                </div>

                <% } %>
                <br><hr>
            </div>


        </div>
        </div>
        <!-- /.row -->

    <!-- ADIVCE -->
        <div class="col">
            <div class="col-md-5">
                <div class="filter">
                  <form id="categoryform" action="/item" method="get">
                    <div class="col-md-12">
                      <h3>Categories</h3>
                      <hr>
                      <div class="checkbox">
                          <label><input type="checkbox" name="ap[]" value="internship" id="internship">Internships</label>
                      </div>
                      <div class="checkbox">
                          <label><input type="checkbox" name="ap[]" value="event" id="event">Events</label>
                      </div>
                      <div class="checkbox">
                          <label><input type="checkbox" name="ap[]" value="apprenticeship" id="apprenticeship">Apprenticeship</label>
                      </div>
                    </div>
                  </form>
                </div>

            </div>
         </div>

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <div class="social">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_linkedin_large' displayText='LinkedIn'></span>
                <span class='st_pinterest_large' displayText='Pinterest'></span>
                <span class='st_email_large' displayText='Email'></span>
            </div>
            </div>    
        </div>
    </div>

    </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <form class="form" action="/item" method="get" id="hiddenform" autocomplete="off">
      <input type="hidden" name="filter" id="category" value="">
    </form>

    <script type="text/javascript">
    var filterArray = '<%= filter %>'.split('-');
    console.log(filterArray);

    filterArray.forEach(function(filter) {
      if (filter) {
        $('input#'+filter).prop('checked', true);
      }
    });


    $(':checkbox').change(function() {
      console.log('hi');

      var list = $(':checkbox[name="ap[]"]:checked').map(function(){
        return $(this).val();
      }).get().join('-');

      console.log(list);

      $('input#category').val(list);
      $('form#hiddenform').submit();

    });
    </script>
</body>

</html>
